/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
#controlsContainer {
    position: relative;
    left: 0;
    top: 0;
}
#drawingContainer {
    border: 0px black solid;
    margin: 1em;
    display: inline-block;
    position: relative;
}
#contextControlsContainer {
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    border-radius: 3px;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 3px 3px 5px #888888;
}
.wd-button {
    width: 32px;
    height: 32px;
    /*    border: 1px black solid;*/
    border-radius: 2px;
    padding: 0px;
    margin: 2px;
}
.wd-color-button {
    width: 32px;
    height: 32px;
    margin-right: 4px;
}
.wd-button-wrap {
    min-width: 0px;
    padding: 0px;
    margin: 0px
}
.dragoverAccept {
    border: 3px solid #F9EE6C;
    /* Firefox */
    /*    height: -moz-calc(100% - 3px);*/
    /* WebKit */
    /*    height: -webkit-calc(100% - 3px);*/
    /* Opera */
    /*    height: -o-calc(100% - 3px);*/
    /* Standard */
    /*    height: 100%;*/
}
.dragoverReject {
    border: 3px solid red;
}
