<div id='drawingContainer'>
    <div id="controlsContainer">
        <div><img type="button" class="wd-button" ng-src="/app/content/buttons/add_casing_50x50.png" uib-tooltip="Add Casing" width="30" ng-click="add()"></img>
            <img type="button" class="wd-button" ng-src="/app/content/buttons/add_tubing_50x50.png" uib-tooltip="Add Tubing" width="30" ng-click="addTubing()"></img>

        </div>
    </div>

    <div ng-show="selState.show" id="contextControlsContainer">
        <div>
            <div>Selected Element Options:</div>
            <img ng-show="selState.delete" type="button" class="wd-button" ng-src="/app/content/buttons/Remove.png" uib-tooltip="Delete this String" tooltip-placement="bottom" ng-click="delete()"></img>
            <img ng-show="selState.addPacker" type="button" class="wd-button" ng-src="/app/content/buttons/add_packer_50x50.png" uib-tooltip="Add Packer to String" tooltip-placement="bottom" ng-click="addPacker()"></img>
            <img ng-show="selState.addTextBox" type="button" class="wd-button" ng-src="/app/content/buttons/textbox_50x50.png" uib-tooltip="Add TextBox" tooltip-placement="bottom" ng-click="addTextBox()"></img>
            <well-color-chooser ng-show="selState.changeColor"></well-color-chooser>
        </div>
    </div>
</div>
