<div id='drawingContainer' layout="column">
    <div id="controlsContainer">
        <div ng-show="!saveControls">
            <md-button class="wd-button-wrap" ng-click="add()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/add_casing_50x50.png" width="30">
                <md-tooltip md-direction="top">Add Casing</md-tooltip>
                </img>
            </md-button>
            <md-button class="wd-button-wrap" ng-click="addTubing()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/add_tubing_50x50.png" width="30">
                <md-tooltip md-direction="top">Add Tubing</md-tooltip>
                </img>
            </md-button>
            <md-button class="wd-button-wrap" ng-click="startSave()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/save_50x50.png" width="30"></img>
                <md-tooltip md-direction="top">Save to Browser Storage</md-tooltip>
            </md-button>
            <well-open-file></well-open-file>
            <!--
            <md-button class="wd-button-wrap" ng-click="open()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/open_50x50.png" width="30"></img>
                <md-tooltip md-direction="top">Load from Browser Storage</md-tooltip>
            </md-button>
-->

        </div>
        <div ng-show="saveControls" layout="row">
            <md-input-container style="height:2em; margin-bottom:0">
                <label>Save As. . .</label>
                <input input-focus-function="focusOnSaveInput" ng-model="saveName">
            </md-input-container>
            <md-button class="md-raised" ng-click="saveDownload()">Save to file</md-button>
            <md-button class="md-raised" ng-click="saveToBrowser()">Save to browser</md-button>
            <md-button ng-click="saveControls = false" class="md-raised md-warn">Cancel</md-button>
        </div>
    </div>

    <div ng-show="selState.show" id="contextControlsContainer" layout="column">
        <div>
            <div>Selected Element Options:</div>
            <md-button ng-show="selState.delete" class="wd-button-wrap" ng-click="delete()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/Remove.png"></img>
                <md-tooltip md-direction="bottom">Delete Element</md-tooltip>
            </md-button>
            <md-button ng-show="selState.addPacker" class="wd-button-wrap" ng-click="addPacker()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/add_packer_50x50.png"></img>
                <md-tooltip md-direction="bottom">Add Packer</md-tooltip>
            </md-button>
            <md-button ng-show="selState.addTextBox" class="wd-button-wrap" ng-click="addTextBox()">
                <img type="button" class="wd-button" ng-src="/app/content/buttons/textbox_50x50.png"></img>
                <md-tooltip md-direction="bottom">Add Textbox</md-tooltip>
            </md-button>
            <!--            <md-button class="wd-button-wrap">-->
            <well-color-chooser></well-color-chooser>
            <!--
                <md-tooltip md-direction="bottom">Change Color</md-tooltip>
            </md-button>
-->
            <div ng-show="selState.editText">
                <textarea ng-style="tbStyle" ng-model="tbText"></textarea>
            </div>
        </div>

    </div>
</div>
